/*Roi Shamir 212052047, Yuval Madmon 209377423*/
body {
  text-align: center; /* רספונסיביות */
  font-family: sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 30px;
}

p {
  margin-bottom: 30px;
}

div {
  margin: 20px 0;
}

div > button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #333;
  background-color: white;
  transition: 0.3s;
}

div:nth-of-type(2),
div:nth-of-type(4) {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;  /* רספונסיביות */
  gap: 10px;
}

.selected {
  transform: scale(1.2);
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

input[type="text"] {
  padding: 10px;
  width: 200px; /* רספונסיביות */
  font-size: 16px;
  margin-top: 10px;
}

input[type="submit"] {
  padding: 10px 30px;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background-color: #555;
}

button {
  border-radius: 15px;
  /* color: white; */
}

#result {
  font-size: 24px;
  font-weight: bold;
}


/* בלחיצה על כפתור */
.selected {
  transform: scale(1.2);
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
  transition: transform 0.2s, background-color 0.2s;
}
.btn-binary {
  background-color: #2196f3;
  color: white;
}

.btn-octal {
  background-color: #ff9800;
  color: white;
}

.btn-decimal {
  background-color: #0ce3bb;
  color: white;
}

.btn-hex {
  background-color: #9c27b0;
  color: white;
}
